.App {
  text-align: center;
}

.App-header {
  background-color: rgb(28, 28, 30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.Logos {
  display: flex;
  flex-direction: row;
  animation: fade-in 2.5s;
  width: calc((12px + 2vmin) * 15);
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
